@import "tailwindcss";

@theme {
    --font-medieval: "Medieval", sans-serif;
}

@font-face {
    font-family: Medieval;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/public/MedievalSharp-Regular.ttf");
}