@import "tailwindcss";

@theme {
    --font-medieval: "Medieval", sans-serif;
}

@font-face {
    font-family: Medieval;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/MedievalSharp-Regular.ttf");
}

@theme {
    --breakpoint-3xl: 160rem;
    --breakpoint-tablet: 48rem;
}